<nav id="header_nav">
    <div id="logo">
        <a href="#" class="logo"><img id="header_logo"></a>
    </div>

    <ul>
        <li><a href="#navhome">Home</a></li>
        <li><a href="#navAbout">About</a></li>
        <li><a href="#navSkills">Skills</a></li>
        <li><a href="#navProjects">Projects</a></li>
        <li><a href="#navContact">Contact</a></li>
    </ul>
    <div>
        <a href="https://drive.google.com/file/d/1rsDER8RwU-6lVTwLVInA9Xfn6VM6dxjK/view?usp=sharing" id="headercta" class="ctabtn">Hire Me!</a>
    </div>
</nav>

<div class="phone_icons" style="display: none;">
    <a href="#navhome"><i class="fa fa-home" aria-hidden="true"></i></i></a>
    <a href="#navAbout"><i class="fa-solid fa-id-card-clip"></i></a>
    <a href="#navSkills"><i class="fa-solid fa-medal"></i></a>
    <a href="#navProjects"><i class="fa-solid fa-file-circle-check"></i></a>
    <a href="#navContact"><i class="fa-solid fa-address-book"></i></a>
</div>


