<nav id="header_nav">
    <div id="logo">
        <a href="#" class="logo"><img id="header_logo"></a>
    </div>

    <ul>
        <li><a href="#navhome">Home</a></li>
        <li><a href="#navAbout">About</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div>
        <button id="ctabtn">Hire Me!</button>
    </div>
</nav>

<div class="phone_icons" style="display: none;">
    <a href="#"><i class="fa fa-home" aria-hidden="true"></i></i></a>
    <a href="#"><i class="fa-solid fa-id-card-clip"></i></a>
    <a href="#"><i class="fa-solid fa-medal"></i></a>
    <a href="#"><i class="fa-solid fa-file-circle-check"></i></a>
    <a href="#"><i class="fa-solid fa-address-book"></i></a>
</div>